---
---
<html lang="en">
    <head>
        {% include default-head.html %}
        <title>Page Not Found</title>
    </head>
    <body>
        {% include header.html %}
        <div class="bodyContents">
            <div class="whiteOverWindow shadow" style="margin-inline: auto; text-align: center; max-width: 90vw; width: 600px; padding: 1em; border-radius: 50px;">
                <h1 style="line-height: 1.5;margin-block: 0; font-size: 5em;">404</h1>
                <p style="font-size: 2em;margin-block: 0;">Page not found.</p>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>