@font-face {
    font-family: YurukaStd;
    src: url("./fonts/FOT-YurukaStd-UB.otf") format("opentype");
}

@font-face {
    font-family: UDMarugo;
    src: url("./fonts/FOT-UDMarugo_LargePr6N-DB.otf") format("opentype");
}

* {-webkit-tap-highlight-color: transparent;}

:focus-visible {
    outline: var(--focus-outline);
}

html {
    min-width: 100%;
    min-height: 100vh;
}

body {
    font-family: var(--font-standard), sans-serif;
    min-height: 100vw;
    min-width: 100vw;
    margin: 0;

    display: flex;
    flex-direction: column;

    >.bodyContents {flex: 1 0 auto;}
}

header,footer {
    flex-shrink: 0;
}

header {
    display: none;
    margin-bottom: 50px;
    width: 100vw;
    min-width: fit-content;

    background-color: rgba(255,255,255,0.5);
    border-bottom: 5px solid white;
}

footer {
    * {border: 1px solid blue;}
    margin-top: 50px;
    width: 100%;
    max-width: 100vw;

    background-color: rgba(20,35,35,0.7);
    color: white;
    border-top: 5px solid black;
    position: relative;

    display: flex;
    flex-direction: column;
    row-gap:20px;

    padding-inline: 7.5%;
    padding-block: 30px;
    box-sizing: border-box;

    #footerContents {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        /*display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr auto;*/
        row-gap:20px;
    }

    #footerRightSide {
        width: max-content;
        min-width: 80%;
        flex-grow: 3;
        flex-shrink: 0;
        flex-basis: 0;

        .socials a:active {color: cyan}

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        gap: 20px;
    }

    #footerLeftSide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        flex-basis: 0;
    }

    .footerNotice {
        font-family: var(--font-marugo), sans-serif;
        /*grid-column: span 2;*/
        text-align: center;
        width: 100%;
    }

    #footerLogoContainer {
        align-self: center;
        justify-self: end;
        display: flex;
        align-items: center;
        justify-content: center;
        #footerLogo {
            height: 100%;
            max-width: 60%;
            aspect-ratio: 1/1;
        }
    }

    #backgroundSelector {
        width: min-content;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: var(--font-marugo), sans-serif;
        #backgroundContainer {
            width: 100%;
            max-width: 100%;
        }
        #background {
            font-family: var(--font-marugo), sans-serif;
            border-radius: 3em;
            font-size: 1.5em;
            min-height: 2em;
            line-height: 2em;
            padding-inline: 1em;
            text-align: center;
            width: 100%;
            background-color: rgba(255,255,255,0.7);
            border: none;
            box-shadow: var(--standard-shadow);
            cursor: pointer;

            /*mask-image: linear-gradient(white, white),url("./images/other_assets/downArrow.svg");
            mask-size: cover, 1.5em 1em;
            mask-position: 0 0, calc(100% - 0.5em) center;
            mask-repeat: no-repeat;
            mask-composite: subtract;

            padding-right: 2em;
            box-sizing: border-box;*/

            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari and Chrome */
            appearance: none;
        }

        .checkboxContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-wrap: nowrap;
            white-space: nowrap;
            position: relative;
            margin-top: 0.5em;
            padding-inline: 0.5em;
            gap: 0.5em;

            label, input {cursor: pointer};

            &:has(:focus-visible) {outline: var(--focus-outline);}

            input[type=checkbox] {
                appearance: unset;
                height: 1.5em;
                background-color: transparent;
                border-radius: 20%;
                aspect-ratio: 1;
                border: 2px solid white;
                box-sizing: border-box;
                margin:0;

                &:focus-visible {outline: none;}
            }
            input[type=checkbox]:checked{
                background-color: white;
                mask-image: linear-gradient(white,white), url("./images/other_assets/checkmark.svg");
                mask-size: 100% 100%, contain;
                mask-origin: border-box;
                mask-position: 0 0, center;
                mask-repeat: no-repeat;
                mask-composite: subtract;
            }
            label {text-wrap: nowrap; white-space: nowrap;}
        }
    }

    .footerContainer {
        width: 100%;
        nav {margin-left: 1em};
        .navItem {font-size: 1.5em};
        justify-self: end;
    }


    .footerTitle {
        font-family: var(--font-yuruka), sans-serif;
        font-weight: bold;
        font-size: 2em;
    }
}

.whiteOverWindow {
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 50px;
    box-shadow: var(--standard-shadow);
    font-family: var(--font-marugo), sans-serif;
    border: 3px solid white;
}

noscript {
    align-self: center;
    margin-inline: auto;
    div {
        margin-top: 1em;
        max-width: 70vw;
        font-size: 2em;
        padding: 1em;
        text-align: center;
    }
}

.socials {
    font-weight: 500;
    a {color:inherit;text-decoration: none; text-wrap: nowrap}
    a:hover, a:focus {text-decoration: underline;}
    a:active {color: blue;text-decoration: underline;}
}
.socials a:not(.noIcon)::before {content:"";display:inline-block;vertical-align:middle;width:1em;height:1em;margin-right:0.3em;background-position: center center;background-repeat: no-repeat;background-size:100%;}

a.youtube::before{background-image: url("./images/socialIcons/youtube.svg");}
a.youtube::after{content:"YouTube"}
a.twitter::before{background-image: url("./images/socialIcons/twitter.svg");}
a.twitter::after{content:"Twitter"}
a.instagram::before{background-image: url("./images/socialIcons/instagram.svg");}
a.instagram::after{content:"Instagram"}
a.bsky::before{background-image: url("./images/socialIcons/bsky.svg");}
a.bsky::after{content:"Bluesky"}
a.tumblr::before{background-image: url("./images/socialIcons/tumblr.svg");}
a.tumblr::after{content:"Tumblr"}
a.jbirding::before{background-image: url("./images/socialIcons/jbirding.ico");}
a.jbirding::after{content:"JBirding"}
a.gamebanana::before{background-image: url("./images/socialIcons/gamebanana.png");}
a.gamebanana::after{content:"GameBanana"}
a.fankai::before{background-image: url("./images/socialIcons/FK.png");}
a.fankai::after{content:"Fan-kai"}
a.discord::before{background-image: url("./images/socialIcons/discord.svg");}
a.discord::after{content:"Discord"}

.hexagonTitle {
    color: white;
    font-family: YurukaStd, sans-serif;
    mask: url("./images/other_assets/stretchedHexagon.svg");
    mask-size: 100% 100%;
    text-align: center;
    width: auto;
    aspect-ratio: 230/70;
    &.HP{background:linear-gradient(180deg, rgb(0,100,0) 0%, rgb(22,158,0) 100%);}
    &.STR{background:linear-gradient(180deg, #6a1515 0%, #a01818 100%);}
    &.SPR{background:linear-gradient(180deg, #441b65 0%, #6d18a0 100%);}
    &.DEF{background:linear-gradient(180deg, #0d2f73 0%, #093cb3 100%);}
    &.SPD{background:linear-gradient(180deg, #1b655d 0%, #139b8a 100%);}
    &.Skill{background:linear-gradient(180deg, #6a4815 0%, #a46207 100%);}
}

:root {
    --focus-outline: auto 5px black;

    --brave-color: rgba(255,145,145,0.7);
    --mysterious-color: rgba(255,255,63,0.7);
    --tough-color: rgba(255,145,63,0.7);
    --charming-color: rgba(255,145,200,0.7);
    --heartful-color: rgba(63,255,63,0.7);
    --shady-color: rgba(145,145,255,0.7);
    --eerie-color: rgba(230,145,255,0.7);
    --slippery-color: rgba(63,255,255,0.7);
    --wicked-color: rgba(46,46,46,0.7);
    --enma-color: rgba(145,0,58,0.7);

    --font-standard: Roboto, system-ui, arial;
    --font-yuruka: YurukaStd, Roboto, system-ui, arial;
    --font-marugo: UDMarugo, Roboto, system-ui, arial;

    --standard-shadow: 0 0 6px rgba(0,0,0,0.8);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut {
    0% {
        opacity: initial;
        visibility: initial;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}