<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="only light">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap" rel="stylesheet">
<link rel="preload" href="/fonts/FOT-UDMarugo_LargePr6N-DB.otf" as="font" crossorigin="anonymous">
<link rel="preload" href="/fonts/FOT-YurukaStd-UB.otf" as="font" crossorigin="anonymous">
<link rel="preload" href="/fonts/HOT-Bukotsu Std U.otf" as="font" crossorigin="anonymous">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" href="/utility/style-global.css">
<link rel="stylesheet" href="/backgrounds.css">