---
---
<html lang="en">
    <head>
        {% include default-head.html %}
        <title>Blasters Plus Plus: Yo-kai Info</title>
        <meta name="description" content="Find out detailed information on all playable Yo-kai in Blasters ++, including their stats, moves, and skill.">
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" href="/utility/style-data-page.css">
        <link href="/utility/multi-select.css" rel="stylesheet" type="text/css">
        <script rel="text/javascript" src="./yokaiInfo.js"></script>
    </head>
    <body>
        {% include header.html %}
        <div class="bodyContents">
            <noscript>
                <div class="whiteOverWindow">
                    JavaScript is disabled in your browser.<br>
                    To view this page, please enable JavaScript.
                </div>
            </noscript>

            <datalist id="search-options">
            </datalist>

            <div id="grid-options-container">
                <div id="search-options-container" class="whiteOverWindow shadow">
                    <div id="basic-search-options">
                        <div class="search-sort-wrapper">
                            <label for="name-search">Search Yo-kai:</label>
                            <input type="search" id="name-search" list="search-options" onchange="generateGrid()">
                        </div>
                        <div class="search-sort-wrapper">
                            <label for="sort-options">Sort by:</label>
                            <select id="sort-options" onchange="generateGrid()">
                                <option selected>Medallium Number</option>
                                <option>Name</option>
                                <option>Rank</option>
                                <option>Tribe</option>
                                <option>Role</option>
                                <option>Tier</option>
                                <option>HP</option>
                                <option>STR</option>
                                <option>SPR</option>
                                <option>DEF</option>
                                <option>SPD</option>
                                <option>Stat total</option>
                            </select>

                            <button class="sort-arrow" title="Ascending"
                                 onclick="this.classList.toggle('Descending');
                                 this.setAttribute('title',this.classList.contains('Descending') ? 'Descending' : 'Ascending');
                                 descending*=-1;
                                 generateGrid();">
                                ↑
                            </button>
                        </div>
                        <div class="search-sort-wrapper">
                            <button class="advanced-search-toggle" onclick="document.getElementById('advanced-search-container').classList.toggle('open')">
                                Advanced search... <span class="downArrow">▼</span>
                            </button>
                        </div>
                    </div>
                    <div id="advanced-search-container" class="advanced-search-container">
                        <div class="advanced-search-item-wrapper" style="--select-width: 7.5rem;">
                            <div class="search-option-label">Rank: </div>
                            <multi-select id="rankFilter" name="rankFilter" placeholder="Filter by rank..."  search="false">
                                <option value="E" selected>
                                    <div class="inline-icon"><img src="/images/rankIcons/all_text_rank01_e.png" alt="E"></div>
                                </option>
                                <option value="D" selected>
                                    <div class="inline-icon"><img src="/images/rankIcons/all_text_rank01_d.png" alt="D"></div>
                                </option>
                                <option value="C" selected>
                                    <div class="inline-icon"><img src="/images/rankIcons/all_text_rank01_c.png" alt="C"></div>
                                </option>
                                <option value="B" selected>
                                    <div class="inline-icon"><img src="/images/rankIcons/all_text_rank01_b.png" alt="B"></div>
                                </option>
                                <option value="A" selected>
                                    <div class="inline-icon"><img src="/images/rankIcons/all_text_rank01_a.png" alt="A"></div>
                                </option>
                                <option value="S" selected>
                                    <div class="inline-icon"><img src="/images/rankIcons/all_text_rank01_s.png" alt="S"></div>
                                </option>
                            </multi-select>
                        </div>
                        <div class="advanced-search-item-wrapper" style="--select-width: 7.5rem;">
                            <div class="search-option-label">Tribe: </div>
                            <multi-select id="tribeFilter" name="tribeFilter" placeholder="Filter by tribe..."  search="false">
                                <option selected value="Brave">
                                    <div class="inline-icon"><img src="/images/tribeIcons/Brave.png" alt="Brave"></div>
                                </option>
                                <option selected value="Mysterious">
                                    <div class="inline-icon"><img src="/images/tribeIcons/Mysterious.png" alt="Mysterious"></div>
                                </option>
                                <option selected value="Tough">
                                    <div class="inline-icon"><img src="/images/tribeIcons/Tough.png" alt="Tough"></div>
                                </option>
                                <option selected value="Charming">
                                    <div class="inline-icon"><img src="/images/tribeIcons/Charming.png" alt="Charming"></div>
                                </option>
                                <option selected value="Heartful">
                                    <div class="inline-icon"><img src="/images/tribeIcons/Heartful.png" alt="Heartful"></div>
                                </option>
                                <option selected value="Shady">
                                    <div class="inline-icon"><img src="/images/tribeIcons/Shady.png" alt="Shady"></div>
                                </option>
                                <option selected value="Eerie">
                                    <div class="inline-icon"><img src="/images/tribeIcons/Eerie.png" alt="Eerie"></div>
                                </option>
                                <option selected value="Slippery">
                                    <div class="inline-icon"><img src="/images/tribeIcons/Slippery.png" alt="Slippery"></div>
                                </option>
                                <option selected value="Wicked">
                                    <div class="inline-icon"><img src="/images/tribeIcons/Wicked.png" alt="Wicked"></div>
                                </option>
                                <option selected value="Enma">
                                    <div class="inline-icon"><img src="/images/tribeIcons/Enma.png" alt="Enma"></div>
                                </option>
                            </multi-select>
                        </div>
                        <div class="advanced-search-item-wrapper" style="--select-width: 7.5rem;">
                            <div class="search-option-label">Role: </div>
                            <multi-select id="roleFilter" name="roleFilter" placeholder="Filter by role..."  search="false">
                                <option selected>Fighter</option>
                                <option selected>Tank</option>
                                <option selected>Healer</option>
                                <option selected>Ranger</option>
                            </multi-select>
                        </div>
                        <div class="advanced-search-item-wrapper movesFilter" style="--select-width: 10rem;">
                            <div class="search-option-label">Moves: </div>
                            <multi-select id="AMoveFilter" name="AMoveFilter" placeholder="Filter by A move..." search listAll="false">
                                <option selected>No Move</option>
                            </multi-select>
                            <span>and</span>
                            <multi-select id="Move1Filter" name="Move1Filter" placeholder="Filter by move..." search listAll="false">
                                <option selected>No Move</option>
                            </multi-select>
                            <span>and</span>
                            <multi-select id="Move2Filter" name="Move2Filter" placeholder="Filter by move..." search listAll="false">
                                <option selected>No Move</option>
                            </multi-select>
                            <span>and</span>
                            <multi-select id="Move3Filter" name="Move3Filter" placeholder="Filter by move..." search listAll="false">
                                <option selected>No Move</option>
                            </multi-select>
                            <span>and</span>
                            <multi-select id="Move4Filter" name="Move4Filter" placeholder="Filter by move..." search listAll="false">
                                <option selected>No Move</option>
                            </multi-select>
                        </div>
                        <!--div class="advanced-search-item-wrapper" style="--select-width: 27rem;">
                            <div class="search-option-label">Added in: </div>
                            <multi-select id="additionFilter" name="additionFilter" data-placeholder="Filter based on addition..."  data-search="false">
                                <option selected>Vanilla Blasters</option>
                                <option selected>Moon Rabbit Crew</option>
                                <option selected>Blasters ++</option>
                            </multi-select>
                        </div-->
                    </div>
                </div>

                <main id="grid"></main>
            </div>


            <dialog id="infoPopupContainer" closedby="none" autofocus>
                    <div id="closePopupContainer" class="focus-inside">
                        <button id="closePopup" onclick="closeInfoPopup()"></button>
                    </div>
                    <div id="infoPopup" class="normal">
                        <div id="infoInnerContainer">
                            <p id="infoTitle"><span class="numberComponents"><span id="infoNumber"></span> — </span><span
                                    id="infoName"></span></p>
                            <div class="yokaiMedal">
                                <img id="yokaiInfoMedalBackground" class="medalBackground" loading="eager" src="../images/medalParts/y_medal_bg.xi.00.png" alt="Yo-kai medal background">
                                <img id="yokaiInfoMedalFaceIcon" class="medalFaceIcon" loading="eager" onload="this.classList.remove('loading')"
                                     onerror="this.classList.remove('loading')">
                                <img id="yokaiInfoMedalBorder" class="medalBorder" loading="eager" src="../images/medalParts/y_medal_nml09.xi.00.png" alt="Yo-kai medal border">

                            </div>

                            <select id="costumeSelection" onchange="openInfoPopup(yokaiCache[this.value]);">
                            </select>


                            <div id="rankTribeAttributes">
                                <div><img id="yokaiInfoRankIcon" loading="lazy"
                                          onload="this.classList.remove('loading')"
                                          onerror="this.classList.remove('loading')">
                                    <p id="yokaiInfoRank"></p></div>
                                <div id="role">
                                    <div><img id="yokaiInfoRoleIcon" loading="lazy"
                                              onload="this.classList.remove('loading')"
                                              onerror="this.classList.remove('loading')"></div>
                                    <p id="yokaiInfoRole"></p></div>

                                <div><img id="yokaiInfoTribeIcon" loading="lazy"
                                          onload="this.classList.remove('loading')"
                                          onerror="this.classList.remove('loading')">
                                    <p id="yokaiInfoTribe"></p></div>
                            </div>

                            <div id="infoPopupDescription" class="noDesc">
                            </div>

                            <div id="statsSkill">
                                <div class="statData HP">
                                    <div class="hexagonTitle HP">HP</div>
                                    <div class="stat" id="yokaiHP"></div>
                                    <hr>
                                </div>
                                <div class="elements">
                                    <div class="strongEL">Str.</div>
                                    <img id="strongElement" loading="lazy"
                                         src="../images/attributeIcons/attribute-.png" alt="No Attribute"
                                         onload="this.classList.remove('loading')"
                                         onerror="this.classList.remove('loading')">
                                    <hr class="strongEL">
                                    <div class="weakEL">Wk.</div>
                                    <img id="weakElement" loading="lazy"
                                         src="../images/attributeIcons/attribute-.png" alt="No Attribute"
                                         onload="this.classList.remove('loading')"
                                         onerror="this.classList.remove('loading')">
                                    <hr class="weakEL">
                                </div>
                                <div class="statData STR">
                                    <div class="hexagonTitle STR">STR</div>
                                    <div class="stat" id="yokaiSTR"></div>
                                    <hr>
                                </div>
                                <div class="statData SPR">
                                    <div class="hexagonTitle SPR">SPR</div>
                                    <div class="stat" id="yokaiSPR"></div>
                                    <hr>
                                </div>
                                <div class="statData DEF">
                                    <div class="hexagonTitle DEF">DEF</div>
                                    <div class="stat" id="yokaiDEF"></div>
                                    <hr>
                                </div>
                                <div class="statData SPD">
                                    <div class="hexagonTitle SPD">SPD</div>
                                    <div class="stat" id="yokaiSPD"></div>
                                    <hr>
                                </div>
                                <div class="skillTitle">
                                    <div class="hexagonTitle Skill">SKILL</div>
                                    <div id="skillName"></div>
                                    <hr>
                                </div>
                                <div id="skillDescriptionContainer">
                                    <div id="skillDescription"></div>
                                </div>
                            </div>


                            <div id="movesSoultimateWrapper">
                                <div id="Movelist">
                                    <div class="move AMove" id="move0" title="A Move">
                                        <div class="moveHexagonBorder"></div>
                                        <div class="moveIconContainer">
                                            <img class="moveIcon" loading="lazy" id="move0Icon"
                                                 onload="this.classList.remove('loading')"
                                                 onerror="this.classList.remove('loading')">
                                        </div>
                                        <div class="moveNameContainer">
                                            <div class="moveName" id="move0Text"></div>
                                        </div>
                                    </div>
                                    <div class="move XMove" id="move1" title="Move 1">
                                        <div class="moveHexagonBorder"></div>
                                        <div class="moveIconContainer">
                                            <img class="moveIcon" loading="lazy" id="move1Icon"
                                                 onload="this.classList.remove('loading')"
                                                 onerror="this.classList.add('loading')">
                                        </div>
                                        <div class="moveNameContainer">
                                            <div class="moveName" id="move1Text"></div>
                                        </div>
                                    </div>
                                    <div class="move YMove" id="move2" title="Move 2">
                                        <div class="moveHexagonBorder"></div>
                                        <div class="moveIconContainer">
                                            <img class="moveIcon" loading="lazy" id="move2Icon"
                                                 onload="this.classList.remove('loading')"
                                                 onerror="this.classList.add('loading')">
                                        </div>
                                        <div class="moveNameContainer">
                                            <div class="moveName" id="move2Text"></div>
                                        </div>
                                    </div>
                                    <div id="move3" class="move learnableMove" title="Learnable Move 1">
                                        <div class="moveHexagonBorder"></div>
                                        <div class="moveIconContainer">
                                            <img class="moveIcon" loading="lazy" id="move3Icon"
                                                 onload="this.classList.remove('loading')"
                                                 onerror="this.classList.add('loading')">
                                        </div>
                                        <div class="moveNameContainer">
                                            <div class="moveName" id="move3Text"></div>
                                        </div>
                                    </div>
                                    <div id="move4" class="move learnableMove" title="Learnable Move 2">
                                        <div class="moveHexagonBorder"></div>
                                        <div class="moveIconContainer">
                                            <img class="moveIcon" loading="lazy" id="move4Icon"
                                                 onload="this.classList.remove('loading')"
                                                 onerror="this.classList.add('loading')">
                                        </div>
                                        <div class="moveNameContainer">
                                            <div class="moveName" id="move4Text"></div>
                                        </div>
                                    </div>
                                </div>

                                <div id="soultimateMoveData">
                                    <div class="moveTitle" id="SoultimateMoveTitle" title="Soultimate Move">
                                        <div class="SoultimateIconWrapper">
                                            <div class="soultimateIconBorder"></div>
                                            <div class="SoultimateIconContainer">
                                                <img class="moveIcon" id="SoultimateIcon"
                                                     alt="Soultimate"
                                                     src="../images/other_assets/soultimateWispGlow.png">
                                                <div class="SoultimateIconText">
                                                    Soultimate
                                                </div>
                                            </div>
                                        </div>
                                        <div class="moveNameContainer">
                                            <div class="moveName" id="soultimateMoveName"></div>
                                        </div>
                                    </div>
                                    <div class="moveDescription" id="soultimateMoveDescription">
                                    </div>

                                    <div class="soultimateMoveDetails">
                                        <div class="soultimateMoveInfo">
                                            <div class="infoTitle">Class</div>
                                            <div class="infoValue text" id="soultimateMoveClass"></div>
                                        </div>

                                        <div class="soultimateMoveInfo">
                                            <div class="infoTitle">Gauge</div>
                                            <div class="infoValue numeric" id="soultimateMoveCharge"></div>
                                        </div>

                                        <div class="soultimateMoveInfo notStatus">
                                            <div class="infoTitle">Power</div>
                                            <div class="infoValue numeric" id="soultimateMovePower"></div>
                                        </div>

                                        <div class="soultimateMoveInfo notStatus notHeal">
                                            <div class="infoTitle">Crit Rate</div>
                                            <div class="infoValue numeric" id="soultimateMoveCritRate"></div>
                                        </div>

                                        <div class="soultimateMoveInfo notStatus">
                                            <div class="infoTitle">Scaling</div>
                                            <div class="infoValue text" id="soultimateMoveScaling"></div>
                                        </div>

                                        <div class="soultimateMoveInfo notStatus notHeal">
                                            <div class="infoTitle">Attribute</div>
                                            <div class="infoValue text" id="soultimateMoveAttribute"></div>
                                        </div>
                                    </div>

                                    <div class="inspirit" id="soultimateInspirit">

                                    </div>
                                </div>
                            </div>

                            <div id="tierData">
                                <div id="tierContainer">
                                    <div id="tierShadow"></div>
                                    <div id="tier" class="Spp"></div>
                                </div>
                                <div id="metaDescription">
                                </div>
                            </div>
                        </div>
                    </div>
                </dialog>

        </div>
        {% include footer.html %}

    <script src="/utility/multi-select.js"></script>
    </body>
</html>