---
---
<html lang="en">
    <head>
        <title>Blasters Plus Plus: About</title>
        <meta name="description" content="Find out more about Yo-kai Watch Blasters ++ and this site">
        {% include default-head.html %}
        <style>
            main {width: min(800px, 90vw);margin-inline: auto; text-align: justify;}
            article {border-radius: 50px; padding: 2em; margin-block: 2em; >h1 {font-size: 2em;}}
            h1,h2,h3,h4,h5,h6 {font-family: var(--font-yuruka), sans-serif; margin-block: 0;}
        </style>
    </head>
    <body>
        {% include header.html %}

        <div class="bodyContents">

            <main>
                <article class="whiteOverWindow shadow">
                    <h1>Blasters <span class="bukotsu">++</span></h1>
                    <section>
                        <p>Originally released on July 20th, 2023, Yo-kai Watch Blasters ++ started as a way to make the single player experience more enjoyable
                        —removing multiplayer limitations such as special prizes and certain boss fights—, but over the last 2 years it has broadened its scope and evolved to become the largest Yo-kai Watch Blasters mod out there.
                        Blasters ++ aims to improve the Blasters experience in many different ways: reworking playable Yo-kai, adding new equipment items and boss fights, and much more!</p>
                    </section>
                    <section>
                        <h1>Yo-kai</h1>
                        <p>Yo-kai reworks are perhaps this mod's most impressive feat.<br>
                        In the original Blasters, most Yo-kai are strictly outclassed by others, if not downright terrible.
                        Likewise, many Yo-kai share the same moves and skill, making the 400+ Yo-kai cast a lot less diverse than it should.
                        B++ tackles this by giving old and forgotten Yo-kai new options focused on making them both viable and unique.
                        More specifically, we have given classes of Yo-kai who were previously notoriously bad, such as spirit attackers, new tools that let them compete against other Yo-kai who were originally in a different league.
                        To this day, Blasters ++ has reworked over 120 Yo-kai, breathing new life into a large part of the cast.<br>
                        Besides improving the existing Yo-kai, Blasters ++ has also added over 100 brand new playable characters that fill new roles and give players more ways to enjoy the game.</p>
                    </section>
                    <section>
                        <h1>Equipment</h1>
                        <p>In a similar fashion to playable Yo-kai, among all the equipment items in the game only a handful are truly good.
                        The main gameplay loop consists on defeating bosses to craft more equipment, but the small set of viable equipment narrows this gameplay to only a few fights.
                        Furthermore, the strength (of lack thereof) of certain items makes some play styles unviable.
                        Blasters ++ fixes this by improving existing equipment and adding several brand-new equipment items, unlocking several strategies that weren't viable before.</p>
                    </section>
                    <section>
                        <h1>New content</h1>
                        <p>Blasters ++ doesn't just make the already existing missions more fun, but it also adds brand-new ones!
                        Among are the Lunar boss fights, an all-new difficulty that not only makes the existing fights more challenging, but also gives them a new spin by granting the bosses unique skills.
                        Besides these, Blasters ++ also includes new custom bosses and other fights.</p>
                        <p>Blasters ++ is updated every few months to include more brand-new content that keeps players coming back to the game and helps keep Blasters' spark alive!</p>
                    </section>
                    <section>
                        <h1>Community</h1>
                        <p>Thanks to Blasters ++, we have been able to form a large and welcoming community of people who love Blasters.
                        Our <a href="https://discord.gg/nxCvVJ6fgt" target="_blank">Discord server</a> currently has over 2200 members and our latest update has managed to gather over 3200 downloads.
                        Whether you want to play online, need advice or just want to chat with others, the Blasters ++ is the place for you!</p>
                        <p>Thank you all for enjoying Blasters ++!</p>
                    </section>
                </article>

                <article class="whiteOverWindow shadow">
                    <h1>The site</h1>
                    <section>
                        <p>J4 here! I hope you're enjoying Blasters ++ and the site!</p>
                        <p>I've been interested in web design for a while, and thought that a site for B++ would be the perfect way to tie my love for it, Blasters and Blasters ++ all in the same place.
                        I've been working on Blasters ++ for quite a while now, and I've made resources for it such as the B++ Spreadsheet (link in the footer and header!).
                        In particular, the spreadsheet is one of the main driving forces for the creation of this site.
                        Google Sheets just isn't the best way to make a resource as big as the sheet —it's inflexible, inaccessible (seriously, don't try opening that on mobile), and it takes up 90% of my RAM every time I open the sheet.
                        I've been wanting more for a while, and, well, here we are now! Of course, not everything from the sheet is here yet, but I'll keep working on the site to make it as complete as possible!</p>
                        <p>I'm still learning, though, so the site isn't perfect yet.
                        In particular, designing for different browsers is <i>hell</i>, (why are there like three different properties for masks on different browsers?!),
                        so if you're not on a Chromium browser (if it's not Safari, Firefox or Internet Explorer it's Chromium), some of the more fancy CSS might not display properly.
                        Different screen sizes are also a pain to design for <del>and I am also kinda lazy</del>, so there is a non-zero chance that if you're viewing this on mobile, the layout might be off at times.
                        I've tried to make all pages have a good small screen layout, but haven't had the chance to test it enough to ensure it'll work everywhere.</p>
                        <p>If you find any bugs or errors, please do let me know! You can find me in the Blasters ++ Discord server.</p>

                        <p>I've been working on this site for a while, and I wanted to have it ready by the second anniversary on July 20th, so being able to <del>kinda</del> do that feels great.
                        I hope I (and the three bucks I will have spent on a vanity domain whenever you read this) have been able to show how much I've enjoyed working on it, and I hope you enjoy it just as much.</p>
                        <p>If you're still reading, I'm gonna share a little detail with you: notice how, in the home page, whenever you hover over the Meet the Team link, some profile icons show up?
                        I wanted to be as fair as possible, so I made them random each time the page is reloaded.
                        I also have a leftover test image of Piplup with Dua Lipa's face (her name is Dula Peeplup) among the Meet the Team files.
                        This image can actually show up randomly along actual people's profile pictures —go see if you can find it.</p>
                        <p>Thank you for checking out this site!</p>
                    </section>
                </article>
            </main>
        </div>

        {% include footer.html %}
    </body>
</html>