---
---
<html lang="en">
<head>
    {% include default-head.html %}
    <title>Blasters Plus Plus: Meet the Team!</title>
    <meta name="description" content="Get to know the people who have contributed to Blasters ++">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
{% include header.html %}
<div class="bodyContents">
    <section class="creditsSection">
        <div class="whiteOverWindow shadow section-title">
            <h1>Blasters <span class="bukotsu">++</span> Team</h1>
        </div>
        <div class="grid-container team">
            <div class="grid-item younes" id="Younes">
                <div class="pfpContainer"><img class="pfp" src="./pfps/YounesPFP.jpg"
                                               alt="Younes' profile picture. It shows Emperor Usapyon with a white outline over a background with silhouettes with glowing yellow eyes.">
                </div>
                <div class="Description">
                    <p class="name">Younes</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                Creator of the mod. Responsible for implementing all changes and reworking several of
                                the
                                Yo-kai, as well as directing the project as a whole. Also a general madlad!
                            </div>
                            <div class="work shortDescription">
                                Creator and director of the mod. Implements all changes.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon twitter" target="_blank" href="https://x.com/Younesplusplus"></a>
                    <a class="icon bsky" target="_blank"
                       href="https://bsky.app/profile/younesplusplus.bsky.social"></a>
                    <a class="icon youtube" target="_blank"
                       href="https://www.youtube.com/channel/UCteLCoLLl1ZcsVo_3d2auzQ"></a>
                </div>
            </div>
            <div class="grid-item" id="J4">
                <div class="pfpContainer"><img class="pfp" src="./pfps/J4PFP.png"
                                               alt="J4's profile picture. It's a very beatiful photograph of a chestnut-fronted macaw, a species of parrot, cropped to only show the bird's face. The bird has green plumage and a black beak, and the skin around its eyes is white. The photo is stunningly beautiful, showing the bird coated in amber golden light from the early hours of the morning in the Amazon jungle. I'm totally not writing all of this to boost my own ego, but you should totally go check out my other very cool website over at https://jbirding.com - J4.">
                </div>
                <div class="Description">
                    <p class="name">J4</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                Resident Blasters nerd who knows way too much about what's good in this game. Designer
                                of
                                several items and Yo-kai kits. I also made this site!
                            </div>
                            <div class="work shortDescription">
                                Balancer and Yo-kai and equipment designer. I also made this site!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon bsky" target="_blank" href="https://bsky.app/profile/jbirding.bsky.social"></a>
                    <a class="icon instagram" target="_blank" href="https://instagram.com/_erithacus_rubecula"></a>
                    <a class="icon jbirding" target="_blank" href="https://jbirding.com/en"></a>
                </div>
            </div>
            <div class="grid-item" id="Fren">
                <div class="pfpContainer"><img class="pfp" src="./pfps/FrenPFP.png"
                                               alt="Fren's profile picture. It's a stylized cartoon axolotl curving along the image's rounded edge. The background is baby blue.">
                </div>
                <div class="Description">
                    <p class="name">A. Fren</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                Longtime Blasters fanatic. Designs Yo-kai and equipment, writes, and generally just
                                helps
                                with creative concepts.
                            </div>
                            <div class="work shortDescription">
                                Moveset and equipment designer, helps with creative concepts.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon bsky" target="_blank" href="https://bsky.app/profile/a-fren.bsky.social"></a>
                </div>
            </div>
            <div class="grid-item" id="JoJo">
                <div class="pfpContainer"><img class="pfp" src="./pfps/JoJoPFP.jpg"
                                               alt="JoJo's profile picture. It's a still from the Yo-kai Watch anime showing the character Emma blushing and happy.">
                </div>
                <div class="Description">
                    <p class="name">JoJo</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work">
                                Emma Daiouji IRL, Artist who draws some of the things you'll be seeing in the mod :)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon twitter" target="_blank" href="https://x.com/SquishyBlooper"></a>
                    <a class="icon bsky" target="_blank" href="https://bsky.app/profile/squishyblooper.bsky.social"></a>
                </div>
            </div>
            <div class="grid-item" id="Stitches">
                <div class="pfpContainer"><img class="pfp" src="pfps/StitchesPFP.png"
                                               alt="Stitches' profile picture. It's a medal they drew for Goku (Extreme) Blizzaria in the style of Yo-kai Watch 3's dream medals.">
                </div>
                <div class="Description">
                    <p class="name">Stitches</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work">
                                Talented artist who has drawn promotional art pieces and several Yo-kai medals used in
                                the
                                mod.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon twitter" target="_blank" href="https://x.com/PlushShooter"></a>
                    <a class="icon bsky" target="_blank" href="https://bsky.app/profile/stitchesplush.bsky.social"></a>
                    <a class="icon tumblr" target="_blank" href="https://www.tumblr.com/stitchesplus?source=share"></a>
                </div>
            </div>
            <div class="grid-item" id="Komabassador">
                <div class="pfpContainer"><img class="pfp" src="./pfps/KomabassadorPFP.png"
                                               alt="Komabassador's profile picture. It shows a penguin-looking character facing the camera while holding a sign. In the background, there are height markers. It looks like a suspect recognition scene. The image has the frame of a Shady Tribe Yo-kai Medal.">
                </div>
                <div class="Description">
                    <p class="name">Komabassador</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                All around Yo-kai Watch fan and collector who runs the Blasters <span class="bukotsu">++</span> Twitter & Bluesky
                                accounts, and helps with creative concepts for the mod every now and then!
                            </div>
                            <div class="work shortDescription">
                                Runs the Blasters <span class="bukotsu">++</span> Twitter & Bluesky accounts and helps with creative concepts.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon twitter" target="_blank" href="https://twitter.com/Komabassador"></a>
                    <a class="icon youtube" target="_blank" href="https://www.youtube.com/@komabassador"></a>
                </div>
            </div>
            <div class="grid-item" id="Opal">
                <div class="pfpContainer"><img class="pfp" src="./pfps/OpalPFP.png"
                                               alt="Opal's profile picture. It depitcs a stylized cartoon caracter resembling some sort of furry animal. It's brown with purple accents, and its eyes are large with white, vertical pupils. Its left eye is orange, and its right eye is purple">
                </div>
                <div class="Description">
                    <p class="name">OpalKitsune</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work">
                                Helps with creative concepts and ideas.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon bsky" target="_blank" href="https://bsky.app/profile/opalfoxxo.bsky.social"></a>
                    <a class="icon instagram" target="_blank" href="https://www.instagram.com/opal_kitsune_"></a>
                    <a class="icon youtube" target="_blank"
                       href="https://m.youtube.com/channel/UC0oTagoRaVbp-mGawEKEXLA"></a>
                </div>
            </div>
            <div class="grid-item" id="Memelord">
                <div class="pfpContainer"><img class="pfp" src="./pfps/MemelordPFP.jpg"
                                               alt="Memelord's profile picture. I am sorry if you're using a screen reader or the images didn't load but it's 2 am and I have no idea what these people's pictures are.">
                </div>
                <div class="Description">
                    <p class="name">Memelord</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                "i make a the models and a the animations and i make a the j4 say 'dude chill out'" <br>
                                —memelord
                            </div>
                            <div class="work shortDescription">
                                Modeler and animator for new and reworked Yo-kai.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon bsky" target="_blank" href="https://bsky.app/profile/litememeland.bsky.social"></a>
                    <a class="icon youtube" target="_blank"
                       href="https://www.youtube.com/channel/UCDOSZUi9EFVOUY2RGjZ0faw"></a>
                </div>
            </div>
            <div class="grid-item" id="Whisperito">
                <div class="pfpContainer"><img class="pfp" src="pfps/WhisperitoPFP.png"
                                               alt="Whisperito's profile picture. It's Whisper"></div>
                <div class="Description">
                    <p class="name">Whisperito</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                Professional Yo-kai Butler since 1997. Admin of the Blasters <span class="bukotsu">++</span> Discord server who set
                                up
                                most of it. States "[they] like to eat rocks sometimes".
                            </div>
                            <div class="work shortDescription">
                                Admin of the Blasters <span class="bukotsu">++</span> Discord server who set up most of it.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon twitter" target="_blank" href="https://x.com/GantDeFer_"></a>
                </div>
            </div>
            <div class="grid-item" id="Light">
                <div class="pfpContainer"><img class="pfp" src="pfps/LightPFP.jpg" alt="Light's profile picture."></div>
                <div class="Description">
                    <p class="name">Light</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                YKW4 modder and creator of the English YKW4 fan translation. Translates descriptions
                                from
                                Japanese into English.
                            </div>
                            <div class="work shortDescription">
                                Creator of the English YKW4 fan translation. Translates descriptions from Japanese.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon bsky" target="_blank" href="https://bsky.app/profile/light8227.bsky.social"></a>
                    <a class="icon gamebanana" target="_blank" href="https://gamebanana.com/members/2075635"></a>
                </div>
            </div>
            <div class="grid-item" id="Kat">
                <div class="pfpContainer"><img class="pfp" src="./pfps/KatPFP.png"
                                               alt="Kat's profile picture. It shows Mikettio from Yo-kai Watch."></div>
                <div class="Description">
                    <p class="name">Kat</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work">
                                Talented artist who has drawn some of the images you see in the mod.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon tumblr" target="_blank" href="https://dreamerkitty.tumblr.com"></a>
                </div>
            </div>
            <div class="grid-item" id="Orochi">
                <div class="pfpContainer"><img class="pfp" src="./pfps/OrochiPFP.png" alt="Orochi's profile picture.">
                </div>
                <div class="Description">
                    <p class="name">Orochi</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                Just a big and ignoble individual who does nothing but draw. He made a lot of medals for
                                the
                                mod.
                            </div>
                            <div class="work shortDescription">
                                Talented artist who has drawn a lot of the medals you see in the mod.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon twitter" target="_blank" href="https://x.com/SeiryuOrochi"></a>
                    <a class="icon fankai" target="_blank"
                       href="https://fankai.fandom.com/fr/wiki/Catégorie:Orochi_Seiryû"></a>
                </div>
            </div>
            <div class="grid-item" id="UnderScore">
                <div class="pfpContainer"><img class="pfp" src="./pfps/UnderScorePFP.png"
                                               alt="UnderScore's profile picture."></div>
                <div class="Description">
                    <p class="name">UnderScore</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                Creative Director who also made some assets for the mod.<br>"I'm happy to be working on
                                B <span class="bukotsu">++</span>.
                                Working with the team what makes it fun for me."
                            </div>
                            <div class="work shortDescription">
                                Comes up with creative concepts and writes text for the mod.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon youtube" target="_blank"
                       href="https://youtube.com/@underscore404?si=V53XHlscIbQpLB71"></a>
                </div>
            </div>
            <div class="grid-item" id="Math">
                <div class="pfpContainer"><img class="pfp" src="pfps/MathPFP.png" alt="Math's profile picture."></div>
                <div class="Description">
                    <p class="name">Math</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                Artist and popular YKW Modder that is helping with model ports and is making his own
                                Yo-kai
                                Watch 3 Mod.
                            </div>
                            <div class="work shortDescription">
                                YKW Modder who helps with model ports.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon twitter" target="_blank" href="https://x.com/oisouomatho"></a>
                    <a class="icon youtube" target="_blank" href="https://www.youtube.com/@OiSouOMatho"></a>
                    <a class="icon gamebanana" target="_blank" href="https://gamebanana.com/members/2056987"></a>
                </div>
            </div>
            <div class="grid-item" id="Leo">
                <div class="pfpContainer"><img class="pfp" src="pfps/LeoPFP.png"
                                               alt="Leo's profile picture. It's Urnaconda's B medal"></div>
                <div class="Description">
                    <p class="name">Leo the 2nd</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                YKW Modder who helps with the more technical aspects of the mod. He's the creator of <a
                                    target="_blank"
                                    href="https://gamebanana.com/mods/479255">Yo-kai Watch Blasters Master Mode</a>.
                            </div>
                            <div class="work shortDescription">
                                YKW Modder who helps with the more technical aspects of the mod.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon youtube" target="_blank"
                       href="https://www.youtube.com/channel/UCM6p7dYxZ7ADHkwUJnus5kQ"></a>
                    <a class="icon gamebanana" target="_blank"
                       href="https://gamebanana.com/mods/479255"></a>
                </div>
            </div>
            <div class="grid-item" id="Sofuto">
                <div class="pfpContainer"><img class="pfp" src="./pfps/SofutoPFP.jpg" alt="Sofuto's profile picture.">
                </div>
                <div class="Description">
                    <p class="name">Sofuto</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work">
                                Talented artist who has drawn some of the Yo-kai icons and B medals you see in the mod.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon twitter" target="_blank" href="https://x.com/SofutoTW"></a>
                    <a class="icon youtube" target="_blank"
                       href="https://www.youtube.com/channel/UC0D3wv-CAIXO3BDv4Xr_1Wg"></a>
                </div>
            </div>
            <div class="grid-item" id="FrostShogunyan">
                <div class="pfpContainer"><img class="pfp" src="./pfps/FrostPFP.png" alt="Frost's profile picture.">
                </div>
                <div class="Description">
                    <p class="name">Frost Shogunyan</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                Hey I'm the guy on YouTube, Frost Shogunyan. I do videos on all sorts of Yo-kai Watch stuffs, and now I voice Frost Shogunyan in Blasters <span class="bukotsu">++</span>! It's an honor to be in the mod and be able to help out!
                            </div>
                            <div class="work shortDescription">
                                Talented artist who voices Frost Shogunyan and has drawn art and Yo-kai medals for mod.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon youtube" target="_blank" href="https://youtube.com/@frostshogunyan"></a>
                </div>
            </div>
            <div class="grid-item" id="Argo">
                <div class="pfpContainer"><img class="pfp" src="pfps/ArgoPFP.png" alt="Argo's profile picture."></div>
                <div class="Description">
                    <p class="name">Argo</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work">
                                Handles mod's changelog and helps gather information.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                </div>
            </div>
            <div class="grid-item" id="n123">
                <div class="pfpContainer"><img class="pfp" src="pfps/n123PFP.jpg" alt="n123's profile picture."></div>
                <div class="Description">
                    <p class="name">n123</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work">
                                Knowledgeable tech geek who helps with technical aspects of the game and more.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">

                </div>
            </div></div>
    </section>
    <section class="creditsSection">
        <div class="whiteOverWindow shadow section-title">
            <h1>Blasters <span class="bukotsu">++</span> Voice Cast</h1>
        </div>
        <div class="grid-container">
            <div class="grid-item" id="Aeysor">
                <div class="pfpContainer"><img class="pfp" src="./pfps/AeysorPFP.png" alt="Aeysor's profile picture.">
                </div>
                <div class="Description">
                    <p class="name">Aeysor</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                “Hello! I’m one of the Voice Actors/Actresses for this wonderful Mod! I hope you’ll
                                enjoy hearing my voiced lines for various Yo-kai.
                                Yo-kai I voice primarily for the mod include Goku Snartle, Rinne, and More!”
                            </div>
                            <div class="work shortDescription">
                                Voices several new Yo-kai, including some upcoming Goku Yo-kai.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">

                </div>
            </div>
            <div class="grid-item" id="WaterDelan">
                <div class="pfpContainer"><img class="pfp" src="./pfps/WaterDelanPFP.jpg"
                                               alt="WaterDelan's profile picture.">
                </div>
                <div class="Description">
                    <p class="name">WaterDelan</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                VA for this mod, voicing many Yo-kai including Grumpus, Schemer, and others. Trying to
                                become a professional VA, working here is like a dream! You can also hire him for
                                voicing!
                            </div>
                            <div class="work shortDescription">
                                VA for Yo-kai such as Grumpus and Schemer.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon youtube" target="_blank"
                       href="https://m.youtube.com/channel/UCIM8YWHsqwpPni2O-RFtuJw"></a>
                    <a class="icon instagram" target="_blank" href="https://www.instagram.com/waterdelan"></a>
                </div>
            </div>
            <div class="grid-item" id="Caffeine">
                <div class="pfpContainer"><img class="pfp" src="./pfps/CaffeinePFP.png"
                                               alt="Caffeine's profile picture.">
                </div>
                <div class="Description">
                    <p class="name">Caffeine</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                Hi I'm Caff Caffeine I do funny voices on the internet (including Goku Noko and Goku
                                Blizzaria in this mod) and if you like that feel free to contact me for any potential
                                work‼️
                            </div>
                            <div class="work shortDescription">
                                VA for Yo-kai such as the upcoming Goku Noko and Blizzaria.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon twitter" target="_blank" href="https://x.com/CaffCaffeine"></a>
                </div>
            </div>
            <div class="grid-item" id="Kosmo">
                <div class="pfpContainer"><img class="pfp" src="./pfps/KomsoPFP.png"
                                               alt="Kosmo's profile picture.">
                </div>
                <div class="Description">
                    <p class="name">Kosmo</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                Prithee and well met im kosmo i do things and stuff :P<br>
                                I voice Jaou Kaira and Hovernyan (Boxing)
                            </div>
                            <div class="work shortDescription">
                                VA for Yo-kai such as Hovernyan (Boxing) and the upcoming Kaira.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon youtube" target="_blank" href="https://www.youtube.com/@Kosmonaught"></a>
                    <a class="icon kofi" target="_blank" href="https://ko-fi.com/kosmovalentine"></a>
                </div>
            </div>
            <div class="grid-item" id="Yokaijunkie">
                <div class="pfpContainer"><img class="pfp" src="./pfps/YokaijunkiePFP.png"
                                               alt="Yokaijunkies's profile picture.">
                </div>
                <div class="Description">
                    <p class="name">Yokaijunkie</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                Hello i am Yokaijunkie and outside of ykw b <span class="bukotsu">++</span> i haven't done many things that have to do with voice acting but im glad to be able to speak some very cool characters
                            </div>
                            <div class="work shortDescription">
                                VA for Blasters <span class="bukotsu">++</span>.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon youtube" target="_blank" href="https://www.youtube.com/channel/UCnYJnBpNP5IPxGuD7B6cfFQ"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="creditsSection">
        <div class="whiteOverWindow shadow section-title">
            <h1>Special Thanks</h1>
        </div>
        <div class="grid-container">
            <div class="grid-item" id="roboman">
                <div class="pfpContainer"><img class="pfp" src="./pfps/robomanPFP.png" alt="robomanredstone's profile picture.">
                </div>
                <div class="Description">
                    <p class="name">robomanredstone</p>
                    <div class="workContainer">
                        <div class="workContainer">
                            <div class="work longDescription">
                                A BT enthusiast who also plays B1 on the side. Helped write Yo-kai descriptions for the B++ tier list
                            </div>
                            <div class="work shortDescription">
                                Helps with ranking Yo-kai for the <a href="/yo-kai-info/">Yo-kai Info</a> tier data.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="teamLinks links">
                    <a class="icon reddit" target="_blank" href="https://www.reddit.com/user/robomanredstone/"></a>
                </div>
            </div>
        </div>
    </section>
</div>
{% include footer.html %}
</body>
</html>