---
---
<html lang="en">
    <head>
        {% include default-head.html %}
        <title>Blasters Plus Plus: Equipment</title>
        <meta name="description" content="Find out detailed information on all equipment items in Blasters ++, including their stats, skill, and how to craft them.">
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" href="/utility/style-data-page.css">
        <link rel="stylesheet" href="/utility/multi-select.css">
        <script rel="text/javascript" src="./equipment.js"></script>
    </head>
    <body>
        {% include header.html %}

        <div class="bodyContents">
            <noscript>
                <div class="whiteOverWindow">
                    JavaScript is disabled in your browser.<br>
                    To view this page, please enable JavaScript.
                </div>
            </noscript>

            <datalist id="search-options">
            </datalist>

            <div id="grid-options-container">
                <div id="search-options-container" class="whiteOverWindow shadow">
                    <div id="basic-search-options">
                        <div class="search-sort-wrapper">
                            <label for="name-search">Search Equipment:</label>
                            <input type="search" id="name-search" list="search-options" onchange="generateGrid()">
                        </div>
                        <div class="search-sort-wrapper">
                            <label for="sort-options">Sort by:</label>
                            <select id="sort-options" onchange="generateGrid()">
                                <option selected>Type</option>
                                <option>Name</option>
                                <option>Rank</option>
                                <option>HP</option>
                                <option>STR</option>
                                <option>SPR</option>
                                <option>DEF</option>
                                <option>SPD</option>
                                <option>Stat total</option>
                            </select>

                            <button class="sort-arrow" title="Ascending"
                                    onclick="this.classList.toggle('Descending');
                                 this.setAttribute('title',this.classList.contains('Descending') ? 'Descending' : 'Ascending');
                                 descending*=-1;
                                 generateGrid();">
                                ↑
                            </button>
                        </div>
                        <div class="search-sort-wrapper">
                            <button class="advanced-search-toggle" onclick="document.getElementById('advanced-search-container').classList.toggle('open')">
                                Advanced search... <span class="downArrow">▼</span>
                            </button>
                        </div>
                    </div>
                    <div id="advanced-search-container" class="advanced-search-container">
                        <div class="advanced-search-item-wrapper" style="--select-width: 7.5rem;">
                            <div class="search-option-label">Rank: </div>
                            <multi-select id="rankFilter" name="rankFilter" placeholder="Filter by rank..."  search="false">
                                <option selected>1</option>
                                <option selected>2</option>
                                <option selected>3</option>
                                <option selected>4</option>
                                <option selected>5</option>
                                <option selected>6</option>
                            </multi-select>
                        </div>
                        <div class="advanced-search-item-wrapper" style="--select-width: 7.5rem;">
                            <div class="search-option-label">Obtainment: </div>
                            <multi-select id="obtainmentFilter" name="obtainmentFilter" placeholder="Filter by obtainment..."  search="false">
                                <option value="Crafting" selected>Can be crafted directly</option>
                                <option value="Upgrading" selected>Upgrades from other equipmet</option>
                                <option value="Other" selected>Obtained from other methods</option>
                            </multi-select>
                        </div>
                        <div class="advanced-search-item-wrapper" style="--select-width: 5rem;">
                            <div class="search-option-label">Can be upgraded: </div>
                            <multi-select id="upgradesFilter" name="upgradesFilter" placeholder="Yes, No"  search="false">
                                <option selected>Yes</option>
                                <option selected>No</option>
                            </multi-select>
                        </div>
                        <div class="advanced-search-item-wrapper" style="--select-width: 10rem;">
                            <div class="search-option-label">Skill: </div>
                            <multi-select id="skillFilter" name="skillFilter" placeholder="Filter by skill..."  search>
                                <option selected>No Skill</option>
                            </multi-select>
                        </div>
                        <div class="advanced-search-item-wrapper materialsFilter" style="--select-width: 10rem;">
                            <div class="search-option-label">Materials: </div>
                            <multi-select id="mat1Filter" name="Material1Filter" placeholder="Filter by material..."  search listAll="false">
                            </multi-select>
                            <span>and</span>
                            <multi-select id="mat2Filter" name="Material2Filter" placeholder="Filter by material..."  search listAll="false">
                            </multi-select>
                            <span>and</span>
                            <multi-select id="mat3Filter" name="Material3Filter" placeholder="Filter by material..." search listAll="false">
                            </multi-select>
                            <span>and</span>
                            <multi-select id="mat4Filter" name="Material4Filter" placeholder="Filter by material..." search listAll="false">
                            </multi-select>
                        </div>
                    </div>
                </div>

                <main id="grid"></main>
            </div>


            <dialog id="infoPopupContainer" closedby="none" autofocus>
                    <div id="closePopupContainer" class="focus-inside">
                        <button id="closePopup" onclick="closeInfoPopup()"></button>
                    </div>
                    <div id="infoPopup" class="normal">
                        <div id="infoInnerContainer">
                            <p id="infoTitle"></p>
                            <div id="equipmentIconContainer">
                                <img id="equipmentIcon" loading="lazy" onload="this.classList.remove('loading')"
                                     onerror="this.classList.remove('loading')">
                            </div>
                            <div class="rankContainer">
                                <div id="rank">
                                </div>
                            </div>

                            <div id="infoPopupDescription" class="detail">
                            </div>

                            <div id="stats" class="detail">
                                <div class="statData HP" style="display: none">
                                    <div class="hexagonTitle HP">HP</div>
                                    <div class="stat" id="equipmentHP">0</div>
                                    <hr>
                                </div>
                                <div class="statData STR" style="display: none">
                                    <div class="hexagonTitle STR">STR</div>
                                    <div class="stat" id="equipmentSTR">0</div>
                                    <hr>
                                </div>
                                <div class="statData SPR" style="display: none">
                                    <div class="hexagonTitle SPR">SPR</div>
                                    <div class="stat" id="equipmentSPR">0</div>
                                    <hr>
                                </div>
                                <div class="statData DEF" style="display: none">
                                    <div class="hexagonTitle DEF">DEF</div>
                                    <div class="stat" id="equipmentDEF">0</div>
                                    <hr>
                                </div>
                            </div>
                            <div id="skillDescription" class="detail">
                            </div>

                            <div id="craftingDataContainer" class="detail">
                                <h1><div class="signitonIconContainer"><img src="/images/other_assets/Boss_Signiton.png" alt="Boss Signiton's face icon"></div> Crafting</h1>
                                <hr>
                                <section id="createSection" class="noContent">
                                </section>
                                <hr>
                                <section id="strengthenSection" class="noContent">
                                </section>
                                <hr>
                                <section id="upgrades" class="noContent">
                                </section>
                            </div>

                        </div>
                    </div>
                </dialog>

        </div>

        {% include footer.html %}
        <script src="/utility/multi-select.js"></script>
    </body>
</html>