@media screen and (max-device-width: 600px) {
    main {
        grid-template-columns: repeat(auto-fill, 90vw);
        grid-auto-rows: 1fr;
        min-width: fit-content;
        padding-inline: 30px;
    }

    .work.longDescription {
        display: none;
    }

    .pfpContainer {
        aspect-ratio: auto;
    }

    .pfp {
        max-height: 80px;
        margin-left: 10px;
    }
    .work, .teamLinks {
        font-size: 16px;
    }
    .teamLinks {
        flex-grow: 0;
        >a::after {display: none;}
    }
    .name {
        font-size: 1.5em;
        line-height: 1.25em;
    }
}

@media screen and (min-device-width: 600px) {
    main {grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
        grid-auto-rows: 150px;
        max-width: 90vw;}
    .work.shortDescription {display: none;}
    .pfpContainer {aspect-ratio: 1;}
    .teamLinks {flex-grow: 1;}
    .name {font-size: 2em;
        line-height: 1.5em;}
    .work {font-size: 1.1em;}
    .teamLinks {font-size: 1.25em;}
}

@media screen and (min-device-width: 1080px) {
    main {grid-template-columns: 1fr 1fr;grid-template-rows: 200px;}
    .younes.grid-item {
        grid-column: 1/-1;
        border-radius: 200px;
        grid-template-columns: auto 5fr 1fr;
        & .pfp {
            height: 80%;
        }

        & .name {
            font-size: 4em;
        }

        & .work {
            font-size: 1.5em;
        }

        .teamLinks {
            font-size: 1.75em;
        }

        .Description {
            flex-grow: 6;
        }
    }
}

main {
    display: grid;
    grid-gap: 20px;

    width: min(90%,1000px);
    box-sizing: border-box;
    margin: auto;
}

.grid-item {
    display: flex;
    align-items: center;

    position: relative;
    border-radius: 200px;
    background: rgba(255, 249, 204, 0.7);
    margin: 5px;


    &::before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        height: 100%;
        width: 100%;
        z-index: -1;
        padding: 5px;
        border-radius: 200px;
        isolation: isolate;

        background-image: linear-gradient(167deg, rgba(255,171,0,1) 0%, rgba(255,255,0,1) 42%, rgba(100,209,248,1) 100%);

        mask-image: linear-gradient(white, white), linear-gradient(white, white);
        mask-size: 100% 100%;
        mask-clip: border-box, content-box;
        mask-position: center center;
        mask-repeat: no-repeat;
        mask-composite: subtract;
    }
}

p {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.pfpContainer {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp {
    border-radius: 100%;
    height: 80%;
    width: auto;
}

.name {
    font-family: YurukaStd, sans-serif;
    font-weight: 700;
    text-align: center;
}

.Description {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.work, .teamLinks {
    height: 100%;
}

.work {
    padding-inline: 5px;
    box-sizing: border-box;
    text-align: center;
    text-wrap: balance;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    min-width: fit-content;
    justify-content: center;
}

.teamLinks {
    font-size: 1.25em;
    flex-shrink: 1;
    flex-basis: 0;
    margin-right: 3%;
    margin-left: 5px;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-overflow: ellipsis;
    >a {
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        /*text-wrap: wrap;
        overflow: hidden;*/
    }
}